name: CockTails CI
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.0
      - name: Setup Java JDK
        uses: actions/setup-java@v2.4.0
        with:
          java-version: 1.8
          distribution: 'adopt'
      - name: Build with Gradle
        run: /gradlew build
      - name: Upload APK
        uses: actions/upload-artifact@v2.2.4
        with:
          name: app
          path: app/build/outputs/apk/debug/app-debug.apk
        
            
    
     
